runs/
*.pt
*.pth

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env
.venv/
venv/
ENV/
env/
*.env
*.venv

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# profiling
.prof

# VS Code
.vscode/

# Pycharm
.idea/

# MacOS / Linux / Windows metadata
.DS_Store
Thumbs.db

# Logs
*.log

# Output folders
build/
dist/
*.egg-info/
*.egg

# Virtualenv + poetry
poetry.lock
poetry.toml
